<div>
  <div *ngIf="!register">
    <mat-form-field class="input-text">
      <input matInput placeholder="Логин" required [(ngModel)]="user.nickname">
    </mat-form-field>
    <mat-form-field class="input-text">
      <input matInput placeholder="Пароль" required [(ngModel)]="password">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary"  (click)="loginUser()">Вход</button>
    <button mat-raised-button color="primary" (click)="registerUser()">Регистрация</button>
  </div>
</div>
