header {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .wrap {
    .menu-block {
      position: relative;
    }
    .menu-links {
      font-size: 18px;
      @include clearfix;
      li {
        position: relative;
        float: left;
        a {
          display: block;
          padding: 0 15px;
          color: #fff;
          line-height: 48px;
          &.selected, &:hover {
            background-color: $accent;
          }
          @media(max-width: 1265px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
