@import "variables";
@import "mixins";
@import "index";
@import "material";
@import "header";
@import "/indigo-pink.css";

img {
  width: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  background-size: cover;
}
