<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="filter($event.target.value)" placeholder="Фильтр">
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button checked="true" [value]="''" (click)="setFilterOptions('')">
        Все
      </mat-radio-button>
      <mat-radio-button *ngFor="let status of statuses" [value]="status" (click)="setFilterOptions(status)">
        {{status}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="svidNumber">
      <mat-header-cell *matHeaderCellDef> svidNumber</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.svidNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siOwner">
      <mat-header-cell *matHeaderCellDef> siOwner</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siOwner}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="productionDate">
      <mat-header-cell *matHeaderCellDef> productionDate</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productionDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
