.mat-header-cell, .mat-cell {
/*  flex: 0 0 6.9%;*/
  min-height: 20px;
  white-space: nowrap;
}

.mat-header-row, .mat-row {
  min-width: 100%;


}

.mat-row {
  min-height: 20px;
  max-height: 20px;
}

.globalFilter {
  height: 30px;
}

.mat-paginator {
  max-width:1000px;
}

.mat-table {
  height: calc(100vh - 156px)
}
