<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="filter($event.target.value)" placeholder="Фильтр">
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button checked="true" [value]="''" (click)="setFilterOptions('')">
        Все
      </mat-radio-button>
      <mat-radio-button *ngFor="let status of statuses" [value]="status" (click)="setFilterOptions(status)">
        {{status}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef> client </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.client}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="protocol">
      <mat-header-cell *matHeaderCellDef> protocol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.protocol}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="svidNum">
      <mat-header-cell *matHeaderCellDef> svidNum </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.svidNum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="povDate">
      <mat-header-cell *matHeaderCellDef> povDate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.povDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siName">
      <mat-header-cell *matHeaderCellDef> siName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siModel">
      <mat-header-cell *matHeaderCellDef> siModel </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siModel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siType">
      <mat-header-cell *matHeaderCellDef> siType </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siSerial">
      <mat-header-cell *matHeaderCellDef> siSerial </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siSerial}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tempHumidPress">
      <mat-header-cell *matHeaderCellDef> tempHumidPress </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tempHumidPress}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="povInterval">
      <mat-header-cell *matHeaderCellDef> povInterval </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.povInterval}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="productionDate">
      <mat-header-cell *matHeaderCellDef> productionDate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productionDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="regNum">
      <mat-header-cell *matHeaderCellDef> regNum </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.regNum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="povMethod">
      <mat-header-cell *matHeaderCellDef> povMethod </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.povMethod ? element.povMethod.name : null }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

</div>
