<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field ngClass="globalFilter">
      <input matInput (keyup)="filter($event.target.value)" placeholder="Фильтр">
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button checked="true" [value]="''" (click)="setFilterOptions('')">
        Все
      </mat-radio-button>
      <mat-radio-button *ngFor="let status of statuses" [value]="status" (click)="setFilterOptions(status)">
        {{status}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput (keyup)="filter($event.target.value)" placeholder="Заказчик">
          </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let ind = index;" > {{element.client?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput (keyup)="filter($event.target.value)" placeholder="Статус">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let ind = index;" [satPopoverAnchorFor]="statusPopover"
                (click)="statusPopover.open()"> {{element.status?.curStatus}}

        <sat-popover #statusPopover hasBackdrop  (closed)="!$event || element.status = $event">
          <app-edit-popover [value]="element.status" [name]="'Cтатус'" [type]="'status'"></app-edit-popover>
        </sat-popover>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="siName">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Название СИ">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let ind = index" [satPopoverAnchorFor]="namePopover"
                (click)="ind !== editRowBuffer.idx || namePopover.open()"> {{element.siName}}

        <sat-popover #namePopover hasBackdrop  (closed)="!$event || element.siName = $event">
          <app-edit-popover [value]="element.siName" [name]="'Название СИ'" [type]="'text'"></app-edit-popover>
        </sat-popover>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="siType">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Тип">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siModel">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Модель">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siModel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siSerial">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Зав. номер">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siSerial}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siProdDate">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Дата выпуска">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siProdDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="siRegNum">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Номер реестра">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.siRegNum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="svidNum">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="№ свидетельства">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.svidNum}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="nextPovDate">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Дата след. поверки">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let ind=index" [satPopoverAnchorFor]="npdPopover"
                (click)="ind !== editRowBuffer.idx || npdPopover.open()"> {{element.nextPovDate | date:"dd/MM/yyyy"}}

        <sat-popover #npdPopover hasBackdrop  (closed)="!$event || element.nextPovDate = $event">
          <app-edit-popover [value]="element.nextPovDate" [name]="'Дата след. поверки'" [type]="'date'"></app-edit-popover>
        </sat-popover>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="povMethod">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Методика поверки">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.povMethod?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="povPlace">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Место поверки">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.povPlace }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="povResult">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Годность">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.povResult }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gauger">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Поверитель">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gauger?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="supervisor">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Руководитель">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.supervisor?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ctrlProto">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field >
          <input  matInput (keyup)="filter($event.target.value)" placeholder="Эталоны">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.ctrlProto | namesString }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 40px'"></mat-header-cell>
      <mat-cell *matCellDef="let row; let idx = index" [style.flex]="'0 0 40px'">
        <button mat-icon-button (click)="editRow(row, idx)" *ngIf="idx !== editRowBuffer.idx">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="applyEdit()" *ngIf="idx === editRowBuffer.idx">
          <mat-icon>check</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 40px'"></mat-header-cell>
      <mat-cell *matCellDef="let row; let idx = index" [style.flex]="'0 0 40px'">
        <button mat-icon-button  (click)="deleteRow(row._id)" *ngIf="idx !== editRowBuffer.idx">
          <mat-icon> delete </mat-icon>
        </button>
        <button mat-icon-button (click)="cancelEdit()" *ngIf="idx === editRowBuffer.idx">
          <mat-icon> close </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let idx = index" (click)="test(row)"> </mat-row>
  </mat-table>

  <button mat-raised-button color="primary" (click)="createRow()"> Добавить </button>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
</div>



